.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100500;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
	display: grid;
	height: 74px;
	background-color: #121212;
	padding: 10px 30px
}